@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

nav {

  margin: 25px  auto;
  text-align: center;
}



.mainmenubutton {
    font-family: 'inter', sans-serif;
    font-weight: bold;
    color: #FFFFFF !important;
    font-size: 20px;
    padding: 5px 15px;
    border-radius: 5px;
    border: 0px solid #000000;
    background: #9D47FF;
    margin-right: 10px;
  }
  a.mainmenubutton {
  text-decoration: none;  
  }
  a.mainmenubutton:hover {
    color: #FFFFFF !important;
    background: #C478FF;
  }


  .gallerybutton {
    font-family: 'inter', sans-serif;
    font-weight: bold;
    color: #000000 !important;
    font-size: 20px;
    padding: 5px 15px;
    border-radius: 5px;
    border: 0px solid #000000;
    background: #ff1414;
    margin-right: 10px;
  }
  a.gallerybutton {
  text-decoration: none;  
  }
  a.gallerybutton:hover {
    color: #FFFFFF !important;
    background: #ff4f4f;
  }


  .GITBUTTON {
    font-family: 'inter', sans-serif;
    font-weight: bold;
    color: #FFFFFF !important;
    font-size: 20px;
    padding: 5px 15px;
    border-radius: 5px;
    border: 0px solid #000000;
    background: #2DA44E;
    margin-right: 10px;
  }
  a.GITBUTTON {
  text-decoration: none;  
  }
  a.GITBUTTON:hover {
    color: #FFFFFF !important;
    background: hsl(137, 63%, 59%);
  }


  

  .current {
    font-family: 'inter', sans-serif;
    font-weight: bold;
    color: #FFFFFF !important;
    font-size: 20px;
    padding: 5px 15px;
    border-radius: 5px;
    border: 0px solid #000000;
    background: #cea7ff;
    margin-right: 10px;
    cursor: not-allowed;
  }

  a.mainmenubuttoncurrent {
    text-decoration: none;  
    }


